baseURL = "https://dspace-localhost.org"
email = "rest-api@dspace-localhost.org"
password = "a_really_good_password"
# Used for SSL Verification, if you are not using SSL (which you should be) set this to False
verify = False
es_host = "https://localhost:9200"
es_index = "dspace-api"
